VITE_SUPABASE_URL=https://kekpjwpqqfbciizlsdbq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtla3Bqd3BxcWZiY2lpemxzZGJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NTgzODcsImV4cCI6MjEwMTQzNDM4N30.HjOmCtZKXd-FX-VAhNcyH4DwbQY94vQ_vRsNl7TkdnU
